
services:
  qdrant:
    image: qdrant/qdrant
    healthcheck:
      test:
        - CMD-SHELL
        - bash -c ':> /dev/tcp/127.0.0.1/6333' || exit 1
      interval: 5s
      timeout: 5s
      retries: 3
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    restart: unless-stopped
    healthcheck:
      test:
        - CMD-SHELL
        - bash -c ':> /dev/tcp/127.0.0.1/11434' || exit 1
      interval: 5s
      timeout: 3s
      retries: 20
    gpus: all

  api:
    build: .
    container_name: api
    depends_on:
      - ollama
      - qdrant
    healthcheck:
      test:
        - CMD-SHELL
        - bash -c ':> /dev/tcp/127.0.0.1/8000' || exit 1
      interval: 5s
      timeout: 2s
      retries: 20
    ports:
      - "8000:8000"
    env_file:
      - .env
    gpus: all

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: streamlit
    ports:
      - "8501:8501"
    env_file:
      - .env
    depends_on:
      api:
        condition: service_healthy


  ingest:
    build:
      context: .
      dockerfile: Dockerfile.ingest
    depends_on:
      qdrant:
        condition: service_healthy
    volumes:
      - qdrant_data:/qdrant/storage
    gpus: all
    profiles: [ "ingest" ]

volumes:
  qdrant_data:
  ollama_models:

