version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant
    healthcheck:
      test:
        - CMD-SHELL
        - bash -c ':> /dev/tcp/127.0.0.1/6333' || exit 1
      interval: 5s
      timeout: 5s
      retries: 3
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  ingest:
    build:
      context: .
      dockerfile: Dockerfile.ingest
    depends_on:
      qdrant:
        condition: service_healthy
    volumes:
      - qdrant_data:/qdrant/storage
    gpus: all
    profiles: [ "ingest" ]

volumes:
  qdrant_data:

